body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #597B6A;
  color: #EDECED;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;

}

/*font*/
h2 {
  font-family: 'Concert One', sans-serif;
}

h1,
h2,
h3 {
  color: #595454;
}

h3 {
  color: #EDECED;
}

h3 {
  text-align: center;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #597B6A;
}

.center {
  text-align: center;
}

/*nav*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


nav ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;

}

nav ul li {
  display: inline;
  margin-right: 10px;

}

nav ul li a {
  color: #EDECED;
  text-decoration: none;
}

.avatar {
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

.logo {
  width: 5%;
  height: 5%;
}

/*name*/
.shade {
  font-size: 5vw;
  font-family: 'Concert One', sans-serif;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}

#home {
  padding: 50px 50px 0px;
}

#home h1 {
  margin-bottom: 0.5rem;
}

/*about*/
.about {
  text-align: justify;
  font-size: 16px;
  line-height: 2;
  padding-top: 0px;
}

.container-about {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-heading {
  text-align: center;
  margin-bottom: 40px;
}

.about-heading h2 {
  font-size: 36px;
  color: #333;
}

.about-text {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  color: #666;
}

/*projects*/

.frame {
  display: flex;
  padding: 2% 5%;
}

.project1 {
  display: inline;
  float: left;
  width: 30%;
  padding: 0% 2%;
}

.project2 {
  display: inline;
  float: left;
  width: 30%;
  padding: 0% 2%;
}

.tarjet {
  padding: 5%;
  border: 5px outset #40584c;
  border-radius: 6px;
  box-shadow: inset 3px 3px 3px #82b099, inset -2px -2px 3px #40584c, 2px 2px 10px #40584c;
  text-shadow: -1px -1px rgba(0, 0, 0, .2);
  background-color: #597B6A;
}
.cv{
  padding: 1%;
}

.par {
  text-align: justify;
  margin: 2%;
  color: #EDECED
}

.subpar {
  text-align: justify;
  font-size: small;
  margin: 2%;
  color: #EDECED
}

/*aplicaión clima*/
.apps {
  display: none;
  text-align: center;
  margin: 0% 25%;
  padding: 1% 5%;
  background-color: #9BBDB2
}

select {
  padding: 9px;
  margin-right: 9px;
}

button {
  padding: 10px 20px;
  background-color: #597B6A;
  color: white;
  border: none;
  cursor: pointer;
}

#clima-info {
  margin-top: 20px;
  font-size: 18px;
}

.button-volver {
  margin-top: 6px;
  text-align: right;
}

/*app lista tareas*/

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #597B6A;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #597B6A;
  color: #fff;
  border: none;
  cursor: pointer;
}

.agregar {
  margin-top: 2%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#taskInput,
#taskList {
  max-width: 100%;
  box-sizing: border-box;
}


.task {
  border-bottom: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-text {
  max-width: 60%;
  overflow-wrap: break-word;
}

.task-actions {
  max-width: 40%;
  display: block;
  justify-content: space-between;
}

.actions {
  margin: 3px;
}

/*Contraseñas*/
.container-pdw {
  text-align: center;
  padding: 20px;
}

.password-container {
  margin-top: 20px;
}

.options-container {
  margin-top: 10px;
}

#length {
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
}

#password {
  max-width: 90%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
}

#generate-btn {
  margin-top: 2%;
  padding: 10px 20px;
  font-size: 16px;
}

/*cv*/
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.label_cv {
  text-align: left;
  text-decoration: underline #40584c;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#generated-resume {
  margin: auto;
  margin-top: 30px;
  width: 70%;
  padding: 2%;
  border: 3px solid #333;
  background-color: #EDECED;
  display: none;
}

#name-section {
  font-size: xx-large;
  text-align: center;
}

#contact-section {
  margin: auto;
  text-align: right;
}

#contact-phone-section {
  margin: auto;
  text-align: right;
}

#experience-section {
  margin: auto;
  text-align: left;
  padding: 0% 2%;
}

#education-section {
  margin: auto;
  text-align: left;
  padding: 0% 2%;
}

#skills-section {
  margin: auto;
  text-align: left;
  padding: 0% 2%;
}

/*maketing*/
.img-marketing {
  max-width: 90%;
}
.enlace{
  text-decoration: none;
  color:#EDECED
}

.descripcion{
  text-align: justify;
}

/* Estilos para el footer */

#container-contact {
  margin: auto;
  text-align: center;
}

footer {
  background-color: #EDECED;
  text-align: center;
}

#imgContact {
  width: 30%;
}

@media screen and (max-width: 1000px) {

  .container-about,
  .frame {
    flex-direction: column;

    margin: auto;
    margin-top: 2px;
  }

  .project1,
  .project2 {
    width: 100%;
  }

  .frame>div {
    margin-bottom: 20px;
  }

  nav ul {
    display: none;
  }

  #imgContact {
    width: 80%;
  }

  .apps {
    width: 80%;
    margin: auto;

  }

}