body {
    font-family: 'Nunito';
    padding: 1%;
    background-color: #faff80;

}

div.content {
    height: 250px;
    width: 100%;
    border-bottom: 2px solid #0DA2AC
}

#cabecera {
    width: 25%;
    height: 100%;
    text-align: center;
    margin: auto
}

#avatar {
    border-radius: 50%;
    width: 150px;
    margin: 10% 0 5% 0
}

p.maquina {
    margin-bottom: 5%;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-family: Flowers;
    font-size: xx-large;
    border-right: 2px solid #188DeC;
    margin: 0 5%;
    color:#0DA2AC; 
    animation: typing 5s steps(35) 2s 1 normal both, blink 0.5s steps(2);
}

#contenedor {
    display: flex;
    margin: auto;
    padding-bottom: 5%;
}

#divlineatiempo {
    width: 30%;
    margin-top: 4%;
    overflow: hidden;
}

#lineatiempo {
    transition: 0.5s;
    object-fit: cover;
}

#lineatiempo:hover {
    transform: scale(1.5)
}

#contenedor1 {
    width: 70%;
}

#presentacion {
    padding: 5% 7% 0% 5%;
    text-align: justify;
    color: #525050
}

a:link {
    text-decoration: none;
}
#tablacv{
    margin:3% 5%
}

#thtablacv{

width:50%;
}

#cv,
#cvextendido {
    width: 80%;
    height: 200px;
    margin-top: 10%;
}

.boton {
    background-color:  #0DA2AC;
    position: relative;
    margin: auto;
    display: flex;
    text-decoration: none;
    overflow: hidden;
    transition: 2s;
}

.boton:hover {
    background: #13CAD6;
    box-shadow: 0 0 10px #13CAD6, 0 0 20px #13CAD6, 0 0 80px #13CAD6;
    transition-delay: 0.05s;
}

.botones {
    color: #faff80;
    text-align: center;
    font-family: Flowers;
    margin:auto
}

.descripcion {
    font-size:medium;
    text-align: center;
    font-family: Nunito;
    margin: 5%;
}

.contacto {
    font-family: 'Flowers';
    font-size: 25px;
    color: #faff80;
    width: 90%;
    margin: auto
}

div.panelJuegos {
    background: #16A085;
    background: -webkit-linear-gradient(to right, #faff80, #0DA2AC);
    background: linear-gradient(to right, #faff80, #0DA2AC);
    margin: 15% 7% 5% 7%;
    padding: 2%;
    border-radius: 5px;
    border-top: 5px dashed #faff80;
    border-bottom: 5px dashed #faff80;
}

.botonjuego {
    width: 50%;
    text-align: center;
    padding: 5%;
}

.container {
    padding-top: 7%;
    width: 80%;
    margin: auto;
}

.box1 {
    color: #0DA2AC;
    display: block;
    text-align: justify;
    padding-bottom: 5%;
}

.box2 {
    width: 70%;
    border-left: 3px solid #0DA2AC;
}

.juego {
    color: #faff80;
    padding: 5% 5%;
}

.tjuego {
    font-family: 'Flowers';
    font-size: h1;
}

div.lenguajes {
    display: none;
    text-align: justify;
    border-radius: 20px;
    border: 2px solid #0DA2AC;
    background-color: #d3f5ed;
    margin: 5px;
    padding: 10px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #525252;
}

.volverPanel {
    margin: 2%;
    color: #faff80;
}

div.reloj {
    margin-top: 60px;
    position: relative;
    display: inline-block;
    text-align: center;
}

div.despedida {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    line-height: 200%
}

@font-face {
    font-family: 'Flowers';
    src: url(font/Brain\ Flower.ttf) format('truetype')
}

@font-face {
    font-family: 'Nunito';
    src: url(font/NunitoRegular-vmABZ.ttf);
}

@font-face {
    font-family: 'Tiza';
    src: url(font/Prescious\ Soul.ttf);
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}

@media screen and (max-width:600px){
    #reloj{
        display: none;
    }
    .descripcion{
        display: none;
    }
    #cabecera {
        width: 50%;
    }
    p.maquina {
        font-size: large;
    }
    .contacto {
        
        font-size: 12px;
        color: #faff80;
        width: 90%;
        margin: auto
    }
   
}