.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.experiencia-container,
.educacion-container {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

  
  